# Configuración del servidor
PORT=5000
SECRET_KEY=rtsp-viewer-secret-key-2024

# Configuración de la cámara RTSP
RTSP_URL=rtsp://admin:Hik12345@181.115.147.116:555/h264/ch1/main/av_stream
RTSP_USERNAME=admin
RTSP_PASSWORD=Hik12345
RTSP_IP=181.115.147.116
RTSP_PORT=555
RTSP_WIDTH=1280
RTSP_HEIGHT=720
RTSP_FPS=30
MJPEG_FPS=30
